{% extends "base.html" %}

{% block content %}
    <h1>ログイン</h1>
    <form method="post" class="login form">
        {% csrf_token %}
        {% for error in form.errors.values %}
            {{ error }}
        {% endfor %}
        <label>
            ユーザーID
        </label>
        <input class="login form"name="username">
        <label>
            パスワード
        </label>
        <input class="login form" type="password" name="password">
        <button type="submit" class="login form">ログイン</button>
    </form>
{% endblock %}
