{% extends "base.html" %}

{% block title %}アカウント作成{% endblock title %}
{% block h1 %}アカウント作成{% endblock h1 %}
{% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        <input type="text" name="username" class="form-control" placeholder="ユーザー ID">
        <input type="password" name="password1" class="form-control" placeholder="パスワード">
        <input type="password" name="password2" class="form-control" placeholder="パスワード確認用">
        <small class="text-start" >パスワードは8文字以上で設定してください。</small>
        {% if form.errors %}
            <span class="text-start">利用できないユーザー ID やパスワードの可能性があります。入力内容を再度ご確認ください。</span>
        {% endif %}
        <button type="submit" class="btn btn-primary">アカウント作成</button>
    </form>
{% endblock content %}